*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
.form-student{
    width: 600px;
    border: 1px solid #ccc;
    margin: 15px 25px;
    padding: 20px;
    justify-content: center;
    float: left;
}
 h3{
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
}
.form-student label{
    width: 130px;
    float: left;
    font-weight: 15px;
}
.form-student input[type="text"]{
    margin-bottom: 15px;
    width: 200px;
    padding: 2px;
}
.form-student input[type="email"]{
    margin-bottom: 15px;
    width: 200px;
    padding: 2px;
}
.form-student button{
    padding: 5px;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
}
.list-student {
    width: 600px;
    border: 1px solid #ccc;
    margin: 15px 25px;
    padding: 20px;
    justify-content: center;
    float: left;
}

.list-student table{
    width: 550px;
    border: 1 solid #ccc ;
    padding: 0;
    background-color: #ffc3a0;
}
.error{
    color:red
}